*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
npm-debug.log

# API keys and secrets
.env

# Dependency
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Build
dist/**/*

